* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  background-color: theme("colors.primary.100");
  transition: all 0.3s ease-in-out;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.navbar {
  transition: all 0.3s ease-in-out;
}

.main-content {
  transition: padding-top 0.3s ease-in-out;
}

.product__carousel:hover .product__card--addtocart {
  display: flex;
}

.product__card--addtocart {
  display: none;
}
